#topHeader{
    -fx-background-color: rgba(243, 243, 178, 0);
    -fx-min-height: 50;
    -fx-start-margin: 20px;
    -fx-end-margin: 20px
}

#rightVBox{
    -fx-background-color: rgba(243, 243, 178, 0);
    -fx-min-width: 320;
    -fx-max-width: 320;
}

/*center*/
#anchorPane {
    -fx-border-width: 2px;
    -fx-border-color: #000000;  /* You can change this to any color */
    -fx-border-style: solid;  /* Other options: dotted, dashed, etc. */
}
#reportAnchorPane{
    -fx-border-width: 2px;
    -fx-border-color: #000000;  /* You can change this to any color */
    -fx-border-style: solid;  /* Other options: dotted, dashed, etc. */
}

#bottomVBox{
    -fx-background-color: rgba(243, 243, 178, 0);
    -fx-min-height: 100;
    -fx-max-height: 100;

}

#borderPane{
    -fx-background-color: #d4fff5;
    -fx-pref-height: 1060;
    -fx-pref-width: 1920;
    -fx-padding: 10px;
}