#topHeader{
    -fx-min-height: 50;
}

#rightVBox{
    -fx-background-color: white;
    -fx-min-width: 320;
    -fx-max-width: 320;
}

/*center*/
#anchorPane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-border-style: none;
}
#reportAnchorPane{
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-border-style: none;
}

#bottomVBox{
    -fx-min-height: 100;
    -fx-max-height: 100;

}

#borderPane{
    -fx-pref-height: 1060;
    -fx-pref-width: 1920;

}