.topHeader{
-fx-background-color: #E6F2FF;
}



.station-name {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.station-id {
    -fx-font-size: 16px;
}

.navigator{
    -fx-min-width: 250px;
    -fx-background-color: #e7e6ff;        /* Light purple */
    -fx-text-fill: #1a1a1a;               /* Dark text for contrast */
    -fx-pref-height: 50px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-cursor: hand;

}

.navigator:pressed {
    -fx-background-color: #e7e6ff; /* Slightly darker purple on press */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0, 0, 4); /* Shadow effect on press */

}

.navigator:selected {
    -fx-background-color: #e7e6ff; /* Even darker purple when selected */
    -fx-text-fill: #ffffff; /* White text for better visibility */
    -fx-border-color: #b3a6cc; /* Lighter border color */
    -fx-border-width: 2px; /* Thicker border for emphasis */

}

.icon-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

#emergencyButton {
    -fx-background-color: transparent;
    -fx-padding: 5px;
    -fx-shape: "M 100 100 m -75, 0 a 75,75 0 1,0 150,0 a 75,75 0 1,0 -150,0"; /* Makes the button circular */
    -fx-cursor: hand;
}

.text {
    -fx-font-size: 16px;
    -fx-text-weight: bold
    -fx-text-fill: #000000; /* Change this to the desired text color */
}

/*#emergencyButton:hover {*/
/*    -fx-background-color: #ffcccc; !* Light red background on hover *!*/
/*    -fx-border-color: #ff6666;    !* Border color on hover *!*/
/*    -fx-border-radius: 50%; !* Ensures the button remains circular *!*/
/*    -fx-background-radius: 50%; !* Ensures the background is circular *!*/
/*}*/

#emergencyButton:pressed {
    -fx-background-color: #ff0000; /* Red background when pressed */
    -fx-effect: dropshadow(gaussian, rgba(255, 0, 0, 0.8), 20, 0.5, 0, 0); /* Red glow effect */
    -fx-border-color: #ff0000; /* Optional: Red border on press */
    -fx-border-radius: 50%; /* Ensures the border remains circular */
    -fx-background-radius: 50%; /* Ensures the background remains circular */
}
.emergencyButtonActive {
    -fx-background-color: #ff0000; /* Red background when pressed */
    -fx-effect: dropshadow(gaussian, rgba(255, 0, 0, 0.8), 20, 0.5, 0, 0); /* Red glow effect */
    -fx-border-color: #ff0000; /* Optional: Red border on press */
    -fx-border-radius: 50%; /* Ensures the border remains circular */
    -fx-background-radius: 50%; /* Ensures the background remains circular */
}

.icon-button:pressed {
    -fx-background-color: #cceeff; /* Slightly darker blue on press */
}

.icon-button .image-view {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0, 0, 4); /* Shadow effect on icons */
}
